@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}



.page{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}


.header__links {
    font-family: sans-serif;
    transition: opacity 0.3s ease-in-out;

}

.header__link {
    transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: aliceblue;
}


img {
    object-fit: cover;
}

body {
    background-color: #151515;
    color: #fff;
}


.header__nav {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header__list {
    display: flex;
    list-style-type: none;
}


.header__logo {
    color: gold;
    font-size: 32px;
    font-family: sans-serif;
}


.header__links :not(:last-child) {
    margin-right: 80px;
}

.sign-up {
    color: #151515;
    font-size: 18px;
    padding: 8px 14px;
    border: none;
    background-color: gold;
    border-radius: 5px;
    margin-left: 14px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.sign-up:hover {
    opacity: 0.5;
}

.main-text {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    padding-left: 80px;
    padding-top: 80px;
}

/* background-image: ;
    background-position: ;
    background-size: ;
    background-repeat: ; */

.for-you__pic{
    width: 620px;
    margin-left: 100px;
}

.for-you{
    display: flex;
    background-color: #000;
    padding: 40px;
    justify-content: space-between;
    
}

.for-you__title{
    font-size: 65px;
}

.for-you__subtitle{
    font-size: 20px;
    margin-top: 40px;
}

.for-you__text-wrapper{
    width: 540px;
}


.why-us__item-img{
    width: 100px;
}

.why-us{
    display: flex;
    background-color: #000;
}

.why-us__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    list-style-type: none;
    justify-items: center;
    margin-top: 30px;
}


.why-us__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-us__wrapper-text{
    font-size: 50px;
}

.why-us__item-text{
    margin-top: 15px;
}

.trainers__item{
    width: 560px;
    
}

.trainers__images-wrapper {
    position: relative;
}

.trainers__img {
    width: 100%;
}

.trainers__logo{
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.trainers__trainer-name{
    font-size: 64px;
    color: gold;
    position: absolute;
    bottom: 0px;
    right: 0px;
    outline: 3px green solid;
    display: inline-block;
    width: 350px;
}   

/* text-align: center; */