<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandow Fitness App</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="page" id="page">

        <header class="header">
            <nav class="header__nav">
                <img src="https://static.tildacdn.com/tild3162-6639-4462-b533-356431363365/Braslety_Sandow_01.svg"
                    alt="">
                <div class="header__links">
                    <ul class="header__list">
                        <li>
                            <a class="header__link" href="#page">Главная</a>
                        </li>
                        <li>
                            <a class="header__link" href="#why-us">О нас</a>
                        </li>
                        <li>
                            <a class="header__link" href="#trainers">Тренеры</a>
                        </li>
                        <li>
                            <a class="header__link" href="#">Профиль</a>
                        </li>
                    </ul>
                </div>
                <div class="login">
                    <button class="sign-up">За абонементом!</button>
                </div>
            </nav>
        </header>
        <main class="main">
            <section class="for-you">
                <div class="for-you__text-wrapper">
                    <h2 class="for-you__title">24/7/365 для Вас:</h2>
                    <p class="for-you__subtitle">Премиум фитнес клуб с инновационным подходом к тренировкам, уникальным
                        отношением к здоровью и диагностикой состава тела.</p>
                </div>
                <img class="for-you__pic"
                    src="https://optim.tildacdn.com/tild6636-6330-4262-b366-306163363434/-/format/webp/Photo_Viktor_02_.jpg"
                    alt="">
            </section>
            <section class="why-us" id="why-us">
                <img class="why-us__pic"
                    src="https://optim.tildacdn.com/tild3363-3533-4039-b135-653163383564/-/format/webp/old_img_sandow.png"
                    alt="">
                <div class="why-us__wrapper">
                    <h2 class="why-us__wrapper-text">Почему выбирают нас</h2>

                    <div class="why-us__list-wrapper">
                        <ul class="why-us__list">


                            <li class="why-us__item">
                                <img class="why-us__item-img"
                                    src="https://static.tildacdn.com/tild3133-6235-4138-a631-623735336633/clock.svg"
                                    alt="">
                                <p class="why-us__item-text">Круглосуточно</p>
                            </li>

                            <li class="why-us__item">
                                <img class="why-us__item-img"
                                    src="https://static.tildacdn.com/tild6433-3561-4732-a235-353434376633/Gym.svg"
                                    alt="">
                                <p class="why-us__item-text">Тренажерный зал 1000 кв/м</p>
                            </li>

                            <li class="why-us__item">
                                <img class="why-us__item-img"
                                    src="https://static.tildacdn.com/tild3035-3138-4063-a663-333238303833/Stationery_Bike.svg"
                                    alt="">
                                <p class="why-us__item-text">200+ ед тренажеров</p>
                            </li>

                            <li class="why-us__item">
                                <img class="why-us__item-img"
                                    src="https://static.tildacdn.com/tild3330-6138-4236-a564-626539353161/parking_location.svg"
                                    alt="">
                                <p class="why-us__item-text">Охраняемая парковка</p>
                            </li>

                            <li class="why-us__item">
                                <img class="why-us__item-img"
                                    src="https://static.tildacdn.com/tild6665-3564-4233-a562-373034666664/pulse_measurement.svg"
                                    alt="">
                                <p class="why-us__item-text">Кардиокинотеатр</p>
                            </li>

                            <li class="why-us__item">
                                <img class="why-us__item-img"
                                    src="https://static.tildacdn.com/tild3263-3432-4430-b862-353830646164/Bath_Robe.svg"
                                    alt="">
                                <p class="why-us__item-text">Настоящая парилка</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="trainers" id="trainers">
                <h2 class="trainers__title">Тренеры</h2>

                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide trainers__item">
                            <div class="trainer__card">
                                <div class="trainers__trainer-info">
                                    <h4 class="trainers__trainer-name-subtitle">
                                        Харлан Вячеслав
                                    </h4>
                                    <p class="trainers__trainer-discription">
                                        Персональный фитнес эксперт. Опыт тренировок более 20 лет.
                                        Дипломированный фитнес тренер. МС России по армрестлингу.
                                        Чемпион России.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide trainers__item">
                            <div class="trainer__card">
                                <div class="trainers__trainer-info">
                                    <h4 class="trainers__trainer-name-subtitle">
                                        Харлан Вячеслав
                                    </h4>
                                    <p class="trainers__trainer-discription">
                                        Персональный фитнес эксперт. Опыт тренировок более 20 лет.
                                        Дипломированный фитнес тренер. МС России по армрестлингу.
                                        Чемпион России.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide trainers__item">
                            <div class="trainer__card">
                                <div class="trainers__trainer-info">
                                    <h4 class="trainers__trainer-name-subtitle">
                                        Харлан Вячеслав
                                    </h4>
                                    <p class="trainers__trainer-discription">
                                        Персональный фитнес эксперт. Опыт тренировок более 20 лет.
                                        Дипломированный фитнес тренер. МС России по армрестлингу.
                                        Чемпион России.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide trainers__item">
                            <div class="trainer__card">
                                <div class="trainers__trainer-info">
                                    <h4 class="trainers__trainer-name-subtitle">
                                        Харлан Вячеслав
                                    </h4>
                                    <p class="trainers__trainer-discription">
                                        Персональный фитнес эксперт. Опыт тренировок более 20 лет.
                                        Дипломированный фитнес тренер. МС России по армрестлингу.
                                        Чемпион России.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide trainers__item">
                            <div class="trainer__card">
                                <div class="trainers__trainer-info">
                                    <h4 class="trainers__trainer-name-subtitle">
                                        Харлан Вячеслав
                                    </h4>
                                    <p class="trainers__trainer-discription">
                                        Персональный фитнес эксперт. Опыт тренировок более 20 лет.
                                        Дипломированный фитнес тренер. МС России по армрестлингу.
                                        Чемпион России.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide trainers__item">
                            <div class="trainer__card">
                                <div class="trainers__trainer-info">
                                    <h4 class="trainers__trainer-name-subtitle">
                                        Харлан Вячеслав
                                    </h4>
                                    <p class="trainers__trainer-discription">
                                        Персональный фитнес эксперт. Опыт тренировок более 20 лет.
                                        Дипломированный фитнес тренер. МС России по армрестлингу.
                                        Чемпион России.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide trainers__item">
                            <div class="trainer__card">
                                <div class="trainers__trainer-info">
                                    <h4 class="trainers__trainer-name-subtitle">
                                        Харлан Вячеслав
                                    </h4>
                                    <p class="trainers__trainer-discription">
                                        Персональный фитнес эксперт. Опыт тренировок более 20 лет.
                                        Дипломированный фитнес тренер. МС России по армрестлингу.
                                        Чемпион России.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide trainers__item">
                            <div class="trainer__card">
                                <div class="trainers__trainer-info">
                                    <h4 class="trainers__trainer-name-subtitle">
                                        Харлан Вячеслав
                                    </h4>
                                    <p class="trainers__trainer-discription">
                                        Персональный фитнес эксперт. Опыт тренировок более 20 лет.
                                        Дипломированный фитнес тренер. МС России по армрестлингу.
                                        Чемпион России.
                                    </p>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>


                <!-- <ul class="trainers__list">
                    <li class="trainers__item">
                        <div class="trainer__card">
                            <div class="trainers__trainer-info">
                                <h4 class="trainers__trainer-name-subtitle">Харлан Вячеслав</h4>
                                <p class="trainers__trainer-discription">Персональный фитнес эксперт. Опыт тренировок более 20 лет. Дипломированный фитнес тренер. МС России по армрестлингу. Чемпион России.</p>
                            </div>
                        </div>
                    </li>

                    <li class="trainers__item">
                        <div class="trainer__card">
                            <div class="trainers__trainer-info">
                                <h4 class="trainers__trainer-name-subtitle">Грушевский Константин</h4>
                                <p class="trainers__trainer-discription">Опыт тренерской деятельности более 10 лет. Выпускник Государственного института физической культуры.</p>
                            </div>
                        </div>
                    </li>

                    <li class="trainers__item">
                        <div class="trainer__card">
                            <div class="trainers__trainer-info">
                                <h4 class="trainers__trainer-name-subtitle">Лаврентидис Элина</h4>
                                <p class="trainers__trainer-discription">Хореограф+фитнес эксперт 10 лет Направления : Тренажёрный зал, растяжка, пилатес, дыхательная гимнастика.</p>
                            </div>
                        </div>
                    </li>

                    <li class="trainers__item">
                        <div class="trainer__card">
                            <div class="trainers__trainer-info">
                                <h4 class="trainers__trainer-name-subtitle">Маснуха Николай</h4>
                                <p class="trainers__trainer-discription">Опыт тренерской деятельности более 15 лет. 3х кратный чемпион Мира по жиму штанги лежа .</p>
                            </div>
                        </div>
                    </li>

                    <li class="trainers__item">
                        <div class="trainer__card">
                            <div class="trainers__trainer-info">
                                <h4 class="trainers__trainer-name-subtitle">Леонов Юрий</h4>
                                <p class="trainers__trainer-discription">В бодибилдинге с 1989 года. Подготовил чемпионов и призеров первенства Москвы и России.</p>
                            </div>
                        </div>
                    </li>

                    <li class="trainers__item">
                        <div class="trainer__card">
                            <div class="trainers__trainer-info">
                                <h4 class="trainers__trainer-name-subtitle">Пожилова Наталья</h4>
                                <p class="trainers__trainer-discription">Стаж работы персональным тренером 5 лет Направление : коррекция фигуры, выносливость, похудение, набор мышечной массы.</p>
                            </div>
                        </div>
                    </li>

                    <li class="trainers__item">
                        <div class="trainer__card">
                            <div class="trainers__trainer-info">
                                <h4 class="trainers__trainer-name-subtitle">Дорохов Сергей</h4>
                                <p class="trainers__trainer-discription">Опыт тренировок более 30 лет.
                                    С 2003 года сертифицированный FPA. Персональный тренер по бодибилдингу и фитнесу.</p>
                            </div>
                        </div>
                    </li>
                </ul> -->

            </section>

            <section class="trainings">
                <h2 class="trainings__title">Групповые программы</h2>
                <p class="trainings__subtitle">Выбери свое Направление</p>
                <ul class="trainings__list">
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card1">
                            <h3 class="trainings__card-text">Йога</h3>
                        </div>

                    </li>
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card2">
                            <h3 class="trainings__card-text">Кросс-тренинг</h3>
                        </div>

                    </li>
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card3">
                            <h3 class="trainings__card-text">Здоровая спина</h3>
                        </div>

                    </li>
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card4">
                            <h3 class="trainings__card-text">Dance hall</h3>
                        </div>

                    </li>
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card5">
                            <h3 class="trainings__card-text">Zumba</h3>
                        </div>

                    </li>
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card6">
                            <h3 class="trainings__card-text">Шпагат</h3>
                        </div>

                    </li>
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card7">
                            <h3 class="trainings__card-text">Стретчинг</h3>
                        </div>

                    </li>
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card8">
                            <h3 class="trainings__card-text">Табата</h3>
                        </div>

                    </li>
                    <li class="trainings__item">

                        <div class="trainings__card trainings__card9">
                            <h3 class="trainings__card-text">TRX</h3>
                        </div>

                    </li>
                </ul>
            </section>


        </main>

        <footer class="footer">
            <div class="footer__social">
                <ul class="footer__social-list">
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="">
                            <img class="footer__social-logo" src="<%= require('./images/VK.png') %>" alt="VK">
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="">
                            <img class="footer__social-logo" src="<%= require('./images/YouTube.png') %>" alt="VK">
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="">
                            <img class="footer__social-logo" src="<%= require('./images/Telegram.png') %>" alt="VK">
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="">
                            <img class="footer__social-logo" src="<%= require('./images/Whatsapp.png') %>" alt="VK">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__info">
                <div class="footer__logo-wrapper">
                    <a class="footer__link-logo" href="">
                        <img class="footer__logo-img"
                            src="https://static.tildacdn.com/tild3162-6639-4462-b533-356431363365/Braslety_Sandow_01.svg"
                            alt="logo">
                    </a>
                </div>
                <div class="footer_navigation-wrapper">
                    <nav class="footer_navigation">
                        <ul class="footer_navigation-list">
                            <li class="footer_navigation-item">
                                <a class="footer_navigation-link" href="#">Интерьер</a>
                            </li>
                            <li class="footer_navigation-item">
                                <a class="footer_navigation-link" href="#">Программы</a>
                            </li>
                            <li class="footer_navigation-item">
                                <a class="footer_navigation-link" href="#">Тренеры</a>
                            </li>
                            <li class="footer_navigation-item">
                                <a class="footer_navigation-link" href="#">Контакты</a>
                            </li>
                            <li class="footer_navigation-item">
                                <a class="footer_navigation-link" href="#">Получить карту</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__adress">
                    <p class="footer__adress-text">Москва, ул. Нижегородская, 29-33 </p>
                    <p class="footer__adress-text">Бизнес-центр «Нижегородский», 2 этаж</p>
                    <img class="footer__adress-pic"
                        src="https://static.tildacdn.com/tild6434-6138-4438-a530-353161383465/phone-receiver.svg"
                        alt="telefon">
                    <a class="footer__adress-tel" href="tel:+74957956957">+74957956957</a>
                </div>
            </div>

            <div class="footer__bottom">
                <p class="footer__bottom-text">Sandow Fitness Club © 2019-2025</p>
            </div>
        </footer>

        <div class="modal">
            <div class="modal_content">
                <h3 class="modal_title"></h3>
                <p class="modal_text"></p>
                <button class="modal_button">Бронировать</button>
                <button class="modal__button-close">x</button>
            </div>
        </div>

    </div>


</body>

</html>